ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
h1,h2,h3{
    margin: 0;
    padding: 0;
}

.header{
 padding: 20px;
 background: #FE1A19;
}
.header_title{
    margin-bottom: 40px;
    font-size: 20px;
    color: white;
}

.columms{
display: flex;
justify-content: center;
padding: 52px 0;
}
.columm{
margin: 0 25px;
padding: 33px;
border: 5px solid #e5e000;
border-radius: 30px;
}
h3{
    margin-bottom: 40px;
}
ul{
    margin-bottom: 15px;
}
.footer{
   padding: 20px;
   background-color: #FE1A19;
}
.footer span{
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}